# For local development, take this as base for .env
ENV=dev                             -> set to 'gcp' in deployment script (removes prettifying of console logging)
NATS_HOST=34.185.224.140 -> set in build script
NATS_PORT=4222 -> set in build script
DATA_API_URL=34.141.51.144:8080     -> set in build script
DATA_POLL_INTERVAL=20               -> in seconds, default 15 set in build script
DEBUG=True
NATS_USER=user                      -> set in build script
NATS_PASSWORD=password              -> set in build script
SCHEDULED_VINS=vin1,vin2,vin3,vin4,vin5,vin6,vin7,vin8,vinaaos


# deployment values in iac/helm/trip-analyzer/templates/deployment.yaml